.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.gridItem {
    border: 1px solid #989a9b;
}

.gridTag {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.tag {
    background: #bde9b2;
    border-radius: 100px;
    text-align: center;
    vertical-align: middle;
    margin: 5px;
}

.actionButton {
    text-decoration: none;
    color: #d4d3d3;
}

.viewButton {
    background: green;

}

.updateButton {
    background: #db8c0c;

}

.deleteButton {
    background: red;

}

.actionButton:hover {
    color: #ffffff;
    text-decoration: none;
}
.inputField:hover{
    border: #39a243 2px solid;
}